# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node (si tu utilises un bundler ou un serveur local)
node_modules/
dist/
build/

# Cache
.cache/
.parcel-cache/
.vscode/
.idea/

# Environnements locaux
.env
.env.local
.env.*.local

# Outils web
*.local
*.tmp
*.bak

# Dépendances front (si utilisées)
package-lock.json
pnpm-lock.yaml
yarn.lock

# Autres fichiers inutiles
*.swp
*.swo
*.orig
