body { 
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Bangers', sans-serif; 
} 

body.home {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}

body.gameover {
    background-image: url('../images/backgroundGameOver.jpg');
    background-size: cover;
    background-position: center;
}

    .container { 
        display: flex; 
        flex-direction: column; 
        height: 100%; width: 100%; 
        align-items: center; 
    } 
    
    @keyframes shake { 
        0% { transform: translate(0px, 0px) rotate(0deg); } 
        20% { transform: translate(-3px, 2px) rotate(-2deg); } 
        40% { transform: translate(2px, -2px) rotate(1deg); } 
        60% { transform: translate(-2px, 2px) rotate(-1deg); } 
        80% { transform: translate(2px, -1px) rotate(1deg); } 
        100% { transform: translate(0px, 0px) rotate(0deg); } 
    } 
    
    @keyframes pulse { 
        0%, 100% { transform: scale(1); color: #000000; } 
        50% { transform: scale(1.1); color: #ffffff; } 
    } 
    h1 { 
        -webkit-text-stroke: 3px white; 
        animation: shake 0.5s infinite; 
        color: #FFD700; 
        font-size: 200px; 
        text-shadow: 
        2px 2px 0 #fff, 
        -2px 2px 0 #fff, 
        2px -2px 0 #fff, 
        -2px -2px 0 #fff, 
        2px 2px 5px rgba(0,0,0,0.5); 
        margin: auto 0; 
    } 

.start-button {
    -webkit-text-stroke: 3px white;
    animation: pulse 1s infinite;
    color: #000000;
    font-size: 60px;
    text-shadow: 
        2px 2px 0 #fff, 
       -2px 2px 0 #fff, 
        2px -2px 0 #fff, 
       -2px -2px 0 #fff,
        2px 2px 5px rgba(0,0,0,0.5);
    font-family: 'Bangers', sans-serif;
    
    background: transparent;
    border: none;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    margin-top: auto;
    margin-bottom: 50px;

    transition: transform 0.1s ease, color 0.1s ease;
}


.start-button:active {
    animation: clickAnimation 0.2s forwards;
    color: #FF0000;
    transform: scale(0.9);
}


@keyframes clickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.85) rotate(-5deg); }
    100% { transform: scale(0.9) rotate(0deg); }
}