body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-image: url(../../../images/backgroundInGames.jpg);
  background-color: #111;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carrousel, .cible {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border: 3px solid #fff;
  background: #222;
}

.msg {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.timer {
  margin-top: 0.5rem;
  font-size: 2.5rem;
}