body {
    font-family: sans-serif;
    text-align: center;
}

#gameContainer {
    position: relative;
    width: 600px;
    height: 400px;
    border: 2px solid #000;
    margin: 20px auto;
    background-color: skyblue;
    overflow: hidden;
}

#cloud {
    position: absolute;
    width: 80px;
    height: 50px;
    background: lightgray;
    border-radius: 50%;
    top: 50px;
    left: 0;
}

#drop {
    position: absolute;
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    top: 100px;
    left: 50%;
}

#bucket {
    position: absolute;
    width: 60px;
    height: 30px;
    background: brown;
    bottom: 0;
    left: 270px;
}

#message {
    font-size: 24px;
    font-weight: bold;
}
